@import url(http://fonts.googleapis.com/css?family=Roboto);
*
{
   margin: 0;
   padding: 0;
}
body
{
   background: #FFFFFa;
}
header
{
   width: 100%;
}
header nav
{

   background: #424242;
   /*margin: 20px auto;*/
   /*float: right;*/
   max-width: 2000px; 
}
.menu_bar
{
   display: none;
}
#nave-h
{
  float: right;
}
header nav ul
{
  overflow: hidden;
  list-style: none; 
}

header nav ul li
{
   float:  left;
}
header nav ul li a {
   color:#fff;
   padding:20px;
   display:block;
   text-decoration:none;
   font-family: 'Roboto', sans-serif;
}
header nav ul li #logo
{
  padding:10px 20px 10px 10px;
}
 
header nav ul li span {
   margin-right:10px;
}
header nav ul li a:hover {
   background:#757575;
   padding:20px;
}
#baner-hd
{
    background: url(../img/fon.svg) #2B6D83;
  height: 590px;
  text-align: left;
  position: relative;
  padding: 10px 20px 0 20px;
}
#contenedor-h, #telefono-h
{
  display: inline-block;
  vertical-align: top;
}
#telefono-h
{
  float: right;
  width: 40%;
}
#telefono-h img
{
  width: 100%;
}
#contenedor-h
{
    margin: 15% 0 0 3%;
    width: 50%;
    color: white;
    font-family: 'Roboto', sans-serif;

}
#contenedor-h h3
{
  text-align: center;
  padding: 3px;
  font-size: 35px;
}
#contenedor-h #descarga-h a
{
  padding: 20px 60px 20px 60px;
  background: #0288D1;
  font-size: 25px;
  text-decoration:none;
  color: white;
  font-family: 'Roboto', sans-serif;
}
#descarga-h
{
  margin: 2em;
}
#texto-s p {
  font-size: 60px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}
#contenedor-s {
  width: 13em;
  background: transparent;
  display: inline-block;
  vertical-align: top;
  margin: 5% 3% 6% 5%;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}
#contenedor-s img
{
  width: 100%;
}
#servicios
{
  background: #FF6E40;
}
/*
#descarga-h a
{
  padding: 20px 60px 20px 60px;
  background: #0288D1;
  font-size: 25px;
  color: white;
  width: 100%;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
}*/






@media screen and (max-width:829px ) {
   header nav {
      width:80%;
      height:100%;
      left:-100%;
      margin:0;
      position: fixed;
   }
 
   header nav ul li {
      display:block;
      float:none;
      border-bottom:1px solid rgba(255,255,255, .3);
   }
   header nav ul li #logo
{
  display: none;
}
 
   .menu_bar {
      display:block;
      width:100%;
      background:#ccc;
   }
 
   .menu_bar .bt-menu {
      display:block;
      padding:20px;
      background:#424242;
      color:#fff;
      text-decoration:none;
      font-weight: bold;
      font-size:25px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
   }
 
   .menu_bar span {
      float:right;
      font-size:40px;
   }
   #contenedor-h
  {
    margin: 7% 0 0 3%;

  }
  /* #descarga-h a
  {
  padding: 20px 30px 20px 30px;
  background: #0288D1;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  }
  #descarga-h
{
  width: 35%;
      margin: 20% 0 0 5%;

}*/

}
@media screen and (max-width:403px ){
  

#contenedor-h #descarga-h a
{
  display: inline;
  padding: 20px 40px 20px 40px;
}

}